/*00829b*/
/*00a7c2*/
/*30c8df*/
/*15aabf*/
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
body
{
    font-family: "Proxima Nova";
}
header
{
    margin: 25px;
}
input
{
    border-radius: 4px;
    border: 1px solid aquamarine;
    min-height: 25px;
    padding-left: 15px;
    font-size: 15px;
    width: 66%;
}

button
{
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid darkgrey;
    margin: 5px 10px;
    background-color: lightseagreen ;
    cursor: pointer;
    transition: 100ms;
    min-height: 25px;

}
button:hover
{
    transform: scale(1.1,1.1);
    transition: 100ms;
}
img
{
    margin-top: 2px;
}
ul
{
    padding-left: 10px;
}
li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkcyan;
    min-height: 26px;
}
.title-note
{
    text-align: center;
    color: darkcyan;
    font-size: 40px;
}
.title-description
{
    text-align: center;
    color: darkgrey;
}
.input-task
{
    text-align: center;
    margin: 20px;
}
#buttons
{
    width: 25%;
    position: relative;
}
.delete
{
    width: 30px;
    height: 32px;
    border: none;
    border-radius: 2px;
    padding: 4px;
    color: white;
    position: absolute;
    right: 0;
    top: -7px;
}
.update
{

    border: none;
    color: white;
    height: 32px;
    width: 30px;
    border-radius: 2px;
    padding: 4px;
    position: absolute;
    right: 35px;
    top: -7px;
}
.done
{
    border: none;
    color: white;
    width: 30px;
    height: 32px;
    border-radius: 2px;
    padding: 4px;
    margin: 0;
    position: absolute;
    right: 45px;
}
.hide
{
    display: none;
}
#container
{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
#content
{
    width: 75%;
}
#content span
{
    word-wrap: break-word;
}
#inp
{
    width: 30%;
}
#result
{
    max-width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: 420px) {
    .delete
    {
        top: 35px;
    }
    .update
    {
        top: 0;
        right: 0;
    }
    .done
    {
        right: 10px;
    }
    li
    {
        min-height: 70px;
    }
}
@media screen and (max-width: 227px) {
    #busttons
    {
        float: right;
    }
}